$explore-purple: #4723D9;
@import 'settings.responsive';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1494972308805-463bc619d34e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1773&q=80');
  background-repeat: repeat-y;
  background-size: 100%;
  display: flex;
  flex-direction: column;
}

.blog h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #373737;
  text-shadow: 2px 2px 0 #c9c8c8, 2px 2px 0 #c0c0c0;
}

.blog nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #AFA5D9;
  padding: 15px 40px;
  border-radius: 10px;

  a {
    color: rgb(33, 37, 41);
    background-color: #F7F6FB;
    border-radius: 5px;

    @include media-query(mobile) {
      margin: 5px;
    }

    &:hover {
      color: rgb(33, 37, 41);
      background-color: #eee;
    }
  }

  a.router-link-active {
    background-color: #f3f3f3;
  }
}

.blog .nav-options {
  justify-content: flex-end;
}

.blog .nav-link {
  cursor: pointer;
}

.blog main {
  position: relative;
}

.table-of-contents {
  padding-left: 0;
  top: 200px;
  max-width: 20vw; // 32vh
  position: sticky;
  align-self: flex-start;
  z-index: 1;

  @include media-query(desk-max) {
    position: static;
    z-index: 0;
    max-width: 80%;
    margin: auto auto;
    margin-top: 40px;
  }

  .toc-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(33, 37, 41);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 0.8rem;

    @include media-query(desk-max) {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  & a {
    margin: 10px 0;
    color: #AFA5D9;
    text-decoration: none;
  }
}

.blog-content-wrapper {
  margin: auto auto;
  display: flex;

  @include media-query(desk-max) {
    flex-direction: column;
    align-items: center;
  }

  .scroll-to-top {
    position: fixed;
    margin: 5px;
    padding: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 2;
    background-color: rgba(206, 205, 205, 0.8);
    border-radius: 5px;
    font-weight: 600;
  }
}

.blog-post-image {
  height: 45%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 150px 0;
}

.paper {
  flex-grow: 1;
  background-color: #fff;
  background-size: 100%;
  max-width: 130vh;
  margin: 40px 30px;
  padding-bottom: 32px;
  border: 1px solid black;
  -webkit-filter: drop-shadow(5px 5px 10px white);
  filter: drop-shadow(5px 5px 10px white);
}

.paper h2 {
  font-weight: bold;
  font-family: "allerregular", Arial;
  font-size: 1.4rem;
  text-align: center;
  padding-top: 25px;
}

.paper h5 {
  font-style: italic;
  font-size: 0.7rem;
  text-align: center;
}

.paper h5 img {
  height: 17px;
}

.paper h6 {
  font-size: 0.6rem;
  text-align: center;
}

.paper p {
  padding: 0.625em 1.25em 0.625em 1.25em;
  margin: 0;
}

.paper li {
  padding-left: 0.9em;
  padding-bottom: 0.125em;
}

.paper p,
.paper li {
  font-family: "Calibri", sans-serif;
  color: black;
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
}

.paper p a {
  font-family: sans-serif;
  font-weight: bold;
}

.paper h3 {
  padding-left: 1.25em;
  padding-right: 1.25em;
  font-size: 1rem;
  margin: 0.5%;
}

.title {
  color: black;
  font-weight: 800;
  font-size: 1.1rem;
  text-align: center;
  padding-left: 1.25em;
  padding-right: 1.25em;
}