@import 'colors';

.dance-wiki {
  scroll-behavior: auto; // not working for whatever reason
}

.dance-wiki h1 {
  font-size: 4rem;
  font-weight: bold;
  color: $theme-red;
  padding: 20px;
  background: #FFFFFF;
  text-shadow: 2px 2px 0 #c9c8c8, 2px 2px 0 #c0c0c0;
}

.accordion {
  width: 50%;
  margin: auto auto;
  margin-bottom: 20px;

  & .accordion-button {
    font-size: 1.2rem;
    color: $theme-red;
    text-align: center;
    font-weight: bold;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    width: 90%;
  }
}

.dance-wiki .accordion-body {
  text-align: left;

  & a {
    margin: 0 5px 16px 5px;
  }

  & li {
    list-style-type: disc;
  }
}

.dance-wiki .all-dancers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dance-wiki .card {
  width: 100%;
  cursor: pointer;
}

.dance-wiki .card img {
  height: 300px;
  object-fit: cover;
}

.dancer button {
  margin: 10px;
}

.dancer .row {
  margin: 10px;
}

// Gives middle part of first row some top margin if the screen is small
@media screen and (max-width: 768px) {
  .dancer .basic-info {
    margin-top: 10px;
  }
}

// 1ST ROW 
.dancer .img-container {
  background-color: $bg-gray;
  padding: 10px;
  // margin: 10px;
  border-radius: 20px;

  & img {
    height: 400px;
    object-fit: contain;
    border-radius: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
  }
}

// .best-videos {
//   & .carousel-control-prev,
//   & .carousel-control-next {
//     filter: invert(100%);
//   }
// }

.dancer .basic-info {
  & ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  & li {
    padding-right: 5px;
    list-style: none;
  }

  p a {
    color: $theme-red;
    text-decoration: none;
  }

  p a:hover {
    font-weight: bold;
  }

  .hometowns,
  .styles {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    border: 1px solid rgb(218, 218, 218);
  }
}

// .dancer h2,
.dancer h3 {
  background-color: $theme-red;
  padding: 8px;
  margin: auto auto;
  color: white;
  border-radius: 0.25rem;
}

.dancer h3 {
  width: 200px;
}

.dancer .umbrella-styles {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #808080;
}

.dancer .socials-col {
  background-color: $bg-gray;
  padding: 10px;
  border-radius: 0.25rem;

  & a {
    text-decoration: none;
    color: $theme-red;
  }

  & a:hover {
    font-weight: bold;
  }
}

.dancer .socials-card {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, .05) 0 1px 1px 0;
  border-radius: 0.25rem;

  & ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  & li {
    padding-right: 5px;
    list-style: none;
  }
}

.dancer .total-following {
  display: flex;
  justify-content: center;
  padding-top: 2px;

  & span {
    padding-right: 5px;
  }
}

.dancer .social {
  padding: 8px;
}

// 2ND ROW 
#resume section {
  border-radius: 0.25rem;
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  margin: 15px;
  height: 300px;
  overflow-y: auto;

  & ul {
    // display: flex;
    // flex-wrap: wrap;
    padding: 0 17px;
    text-align: left;
  }

  & li {
    display: inline;
    list-style: none;
  }
}

#other-life .col {
  background-color: $bg-gray;
  margin-top: 10px;
}

#other-life section {
  background-color: #fff;
  padding: 15px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, .05) 0 1px 1px 0;
  border-radius: 0.25rem;
  height: 150px;
  overflow-y: auto;
}

.dancer .best-videos {
  & iframe {
    height: 400px;
    width: 50%;
  }

  @media screen and (max-width: 992px) {
    & iframe {
      height: 300px;
      width: 60%;
    }
  }

  @media screen and (max-width: 768px) {
    & iframe {
      height: 200px;
      width: fit-content;
    }
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 1.5rem;
  }

  @media screen and (min-width: 400px) {
    .fa-chevron-left,
    .fa-chevron-right {
      color: black;
    }
  }

  @media screen and (max-width: 400px) {
    .fa-chevron-left,
    .fa-chevron-right {
      color: $theme-red;
    }
  }

//  @media screen and (min-width: 700px) {
//   & .carousel-control-prev,
//   & .carousel-control-next {
//     // filter: invert(100%);
//     color: black;
//   }
//  }
  // & .carousel-control-prev-icon {
  //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  // }

  // & .carousel-control-next-icon {
  //   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  // }
}

// @media screen and (max-width: 400px) {
//   .best-videos {
//     & .carousel-control-prev-icon {
//       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c7c7c7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
//     }

//     & .carousel-control-next-icon {
//       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c7c7c7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
//     }
//   }
// }